## question 1

In [105]:
for i in range(1,500):
    if (i%6 != 0) or (i%7 != 0):
        continue
    print(i)

42
84
126
168
210
252
294
336
378
420
462

In [3]:
for i in range(1,500):
    if (i%6 != 0) or (i%7 != 0):
        pass
    else:
        print(i)

42
84
126
168
210
252
294
336
378
420
462

## question 2

In [18]:
inp = input('Please enter the number: ')
sum_even = 0
sum_odd = 0
for i in inp:
    if(int(i)%2 == 0):
        sum_even+=int(i)
    else:
        sum_odd+=int(i)
print('Sum_even = ', sum_even,'\n','Sum_odd = ', sum_odd)

Please enter the number: 156893
Sum_even =  14
 Sum_odd =  18

## question 3

## Conditional statements are statements who's  output depends on a given expression

In [21]:
def max_and_min(lst):
    max_num = 0
    min_num = 0
    for i in range(len(lst)-1):
        if(lst[i]>lst[i+1]):
            max_num = lst[i]
        else:
            min_num = lst[i]
    return max_num, min_num

test_lst = [2,6,7,8,1,4]
print(max_and_min(test_lst))
print(max(test_lst), min(test_lst))

(8, 1)
8 1

## Question 4

In [38]:
num = int(input('Please enter the number: '))
for i in range(num+1):
    for j in range(i):
        print(i,end='')
    print('\n')

Please enter the number: 4


1

22

333

4444

## Question 5

In [44]:
inp = input('Please enter the string: ')
inp = inp.lower()
inp = inp.replace(',','')
inp = inp.replace(' ','')
rev_inp = inp[::-1]
if(inp == rev_inp):
    print('The given string is a palindrome')
else:
    print('The given string is not a palindrome')

Please enter the string: A man, a plan, a canal, Panama
The given string is a palindrome

## Question 6

## chr() function returns the specified unicode for the given character.
## ord() function returns the number representing the unicode for the given character

In [55]:
print(ord('A'),
ord('B'),
ord('C'),
ord('D'),
ord('Z'))
#As we can see the unicode starts from 65 and increases by one for every next alphabet
n = int(input('Please enter the numnber: '))
for i in range(65, 65+n):
    for j in range(i-64):
        print(chr(i),end='')
    print('\n')

65 66 67 68 90
Please enter the numnber: 4
A

BB

CCC

DDDD

## Question 7

In [21]:
def ticket_append(lst):
    lst1=[]
    lst1.append(input('Name:'))
    lst1.append(int(input('tkt number:')))
    lst1.append((input('Departure date:')))
    lst1.append(int(input('Distance:')))
    lst.append(lst1)
    return(lst)

def ini_append(lst):
    lst1=[]
    lst1.append(input('Name:'))
    lst1.append(int(input('tkt number:')))
    lst1.append((input('Departure date:')))
    lst1.append(int(input('Distance:')))
    lst.insert(0,lst1)
    return(lst)


def remover(lst,name):
    for i in lst:
        if i[0] == name:
            lst.remove(i)
    return lst

def dupli_checker(lst):
    for i in range(len(lst)-1):
        for j in range(i+1,len(lst)):
            if(lst[i][0] == lst[j][0]):
                lst.pop(i)
    return lst

In [26]:
airline_lst=[['axe', 1111, '01/02/2023', 4263], ['ben', 4324, '23/03/2022', 3543], ['max', 3453, '03/04/2024', 3534]]
#for i in range(3):
    #ticket_append(airline_lst)

In [27]:
print(airline_lst)

[['axe', 1111, '01/02/2023', 4263], ['ben', 4324, '23/03/2022', 3543], ['max', 3453, '03/04/2024', 3534]]

In [28]:
ticket_append(airline_lst)
airline_lst.sort()
print(airline_lst)

Name:calux
tkt number:1242
Departure date:03/03/239
Distance:23423
[['axe', 1111, '01/02/2023', 4263], ['ben', 4324, '23/03/2022', 3543], ['calux', 1242, '03/03/239', 23423], ['max', 3453, '03/04/2024', 3534]]

In [29]:
remover(airline_lst, 'calux')
print(airline_lst)

[['axe', 1111, '01/02/2023', 4263], ['ben', 4324, '23/03/2022', 3543], ['max', 3453, '03/04/2024', 3534]]

In [30]:
ini_append(airline_lst)
print(airline_lst)

Name:max
tkt number:23423
Departure date:03/04/2334
Distance:2423
[['max', 23423, '03/04/2334', 2423], ['axe', 1111, '01/02/2023', 4263], ['ben', 4324, '23/03/2022', 3543], ['max', 3453, '03/04/2024', 3534]]

In [31]:
dupli_checker(airline_lst)
print(airline_lst)

[['axe', 1111, '01/02/2023', 4263], ['ben', 4324, '23/03/2022', 3543], ['max', 3453, '03/04/2024', 3534]]

In [9]:
airline_lst.sort()
print(airline_lst)

[['axe', 1111, '01/02/2023', 4263], ['ben', 4324, '23/03/2022', 3543], ['max', 3453, '03/04/2024', 3534]]

## Question 8

In [72]:
def add_two_list(lst1,lst2):
    lst = [lst1[i]+lst2[i] for i in range(len(lst1))]
    return lst

In [73]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
l3 = add_two_list(l1,l2)
print(l3)

[6, 8, 10, 12]

In [74]:
def multiply_two_list(lst1, lst2):
    lst = [lst1[i]*lst2[i] for i in range(len(lst1))]
    return lst

In [75]:
l4 = multiply_two_list(l1,l2)
print(l4)

[5, 12, 21, 32]

In [112]:
string = set(input("Please enter the string: "))
unique_char = [char for char in string]
print(unique_char)

Please enter the string: even
['v', 'e', 'n']

## Question 9

In [81]:
mat1 = [[1,2,3],[3,4,5]]
mat2 = [[6,7,8],[9,10,11]]
mat_add,mat_mult = [[0,0,0],[0,0,0,]] , [[0,0,0],[0,0,0,]]
for i in range(len(mat1)):
    for j in range(len(mat1[0])):
        mat_add[i][j] = mat1[i][j] + mat2[i][j]
        mat_mult[i][j] = mat1[i][j] * mat2[i][j]
print(mat_add,mat_mult)

[[7, 9, 11], [12, 14, 16]] [[6, 14, 24], [27, 40, 55]]

## Question 10

In [82]:
a = 1
print('I solved that problem in {} try'.format(a))

I solved that problem in 1 try

In [83]:
print('I solved that problem in {:.2f} try'.format(a))

I solved that problem in 1.00 try

In [86]:
b=2
c=3
print('I solved that {}nd question for the {}rd time in {} try'.format(b,c,a))

I solved that 2nd question for the 3rd time in 1 try

## Question 11

In [93]:
n1 = int(input(''))
n2 = int(input(''))
n3 = int(input(''))
if n1>n2 and n1>n3:
    maxi = n1
elif n2>n3 and n2>n1:
    maxi = n2
elif n3>n1 and n3>n2:
    maxi = n3
print('The maximum of the three numbers is:',maxi)

10
56
44
The maximum of the three numbers is: 56